@font-face {
	font-family: FatWandalsAlt;
	font-display: block;
	src: url('./fonts/fatwandals/fatwandalsalt.woff2') format('woff2'),
		 url('./fonts/fatwandals/fatwandalsalt.woff') format('woff'),
		 url('./fonts/fatwandals/fatwandalsalt.ttf') format('truetype');
}

/* RESET*/

	* {
		margin: 0;
		padding: 0;
	}

/* END RESET */

@media (orientation: portrait) {

	/* Special Fonts */

	p.graffiti {
		font-family: 'FatWandalsAlt';
		font-weight: 500;
		font-size: clamp(3rem, 4vw, 15rem);
		color: #eb5c34;
		line-height:1.5;
		text-align: center;
		transform: skewY(20deg);
		width: 80vw;
		padding: 0 0 0 0;
		}
	
	p.graffiti-alt {
		font-family: 'FatWandalsAlt';
		font-weight: 500;
		font-size: clamp(3.5rem, 5vw, 14rem);
		color: #eb5c34;
		line-height:1.5;
		text-align: center;
		transform: skewY(8deg);
		width: 80vw;
		padding: 0 0 0 0;
		}

}

/* LAPTOP -- DESKTOP -- MONITOR -- TV */

@media (orientation: landscape) {
	
	/* Special Fonts */

	p.graffiti {
		font-family: 'FatWandalsAlt';
		font-weight: 500;
		font-size: clamp(5rem, 7vw, 15rem);
		color: #eb5c34;
		line-height: 1.5;
		text-align: center;
		transform: skewY(10deg);
		width: 90vw;
		padding: 0 0 10vh 0;
	}

	p.graffiti-alt {
		font-family: 'FatWandalsAlt';
		font-weight: 500;
		font-size: clamp(5rem, 6vw, 15rem);
		color: #eb5c34;
		line-height:1.5;
		text-align: center;
		transform: skewY(5deg);
		width: 90vw;
		padding: 0 0 5vh 0;
	}

}

/* UNIVERSAL */
	
html {
	background-color: #f5f5f5;
	scroll-behavior: smooth;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	overflow-x: hidden;
	}

body {
	font-size: 100%;
	font-family: 'Roboto', sans-serif;
	color: #212427;
	width: 100vw;
	}

.column-container {
	max-width: 700px;
	/*scrollbar-gutter: stable;*/
	margin: 0 auto;
	}

h1 {
	font-family: 'Oswald', san-serif;
	font-weight: 700;
	line-height: 1.5;
	text-align: left;
	margin: 0 1vw;
	}
	
h2 {
	font-family: 'Oswald', san-serif;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	text-transform: uppercase;
	margin: 0 1vw;
	padding: 1vw 0 0 0;
	}

h3 {
	font-family: 'Oswald', san-serif;
	font-weight: 700;
	line-height: 1.5;
	text-align: left;
	margin: 0 1vw;
	padding: 1vh 0 1vh 0;
	}

h4 {
	font-family: 'Oswald', san-serif;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	padding: 1vw 0 0 0;
	}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	line-height: 1.7;
	text-align: left;
	padding: 1vmin 0;
	margin: 0 1vw;
	}

p.reverse {
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 1.8;
	text-align: left;
	color: #f5f5f5;
	padding: 1vmin 0;
	margin: 0 1vw;
	}

p.tiny {
	font-family: 'Roboto', sans-serif;
	font-size: small;
	color: #f5f5f5;
	text-align: center;
	}

p.wayback{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	line-height: 2;
	}

p, li, h1, h2, h3, h4 {
  	overflow-wrap: break-word;	
  	hyphens: none;
	}

.nowrap {
	white-space: nowrap;
	}

.reverse {
	color: #f5f5f5;
	}

.orange {
	color: #eb5c34;
	}

.gold {
	color: #ebb834;
	}

.blue {
	color: #439bbd;
	}

.dark-gray {
	color: #191919;
}

.med-grey {
	color: #212427;
}

.light-grey {
	color: #454545;
}

img.merch {
	max-inline-size: 100%;
	block-size: auto;
	aspect-ratio: 1.25/1;
	object-fit: cover;
	object-position: top center;
	border: 1px solid #454545;
	margin: 2vh auto;
}

img.l {
	max-inline-size: 98%;
	object-fit: cover;
	block-size: auto;
	/*aspect-ratio: 1.5/1;*/
	border: 2px solid #454545;
	margin: 0 auto;
	}

img.p {
	max-inline-size: 100%;
	block-size: auto;
	aspect-ratio: 0.66/1;
	object-fit: cover;
	object-position: top center;
	border: 1px solid #454545;
	}	

img.s {
	max-inline-size: 100%;
	block-size: auto;
	aspect-ratio: 1/1;
	object-fit: cover;
	object-position: top center;
	border: 1px solid #454545;
	}

.bg-dark{
	background-color: #191919;
	}

.bg-light{
	background-color: #f5f5f5;
	}

strong,b {
	font-weight: 900;
	}

em {
	font-weight: 400;
	}

video {
	width: 100%;
	padding: 0 0 4vw 0;
	}

blockquote {
	color: #f5f5f5;
	font-size: xx-large;
	display: block;
	font-weight: bold;
	font-style: italic;
	margin: 2vw 1vw;
	}

blockquote:before {
	content: open-quote;
	}

blockquote:after {
	content: close-quote;
	}

.border {
	border: 2px solid #454545;
	}

hr {
	margin: 0 2vw;
	}

/* Landing Page */

#disclaimer {
	border: 4px solid #ebb834;
	padding: 4vmin;
	}

/* A to Z */

#table-of-contents {
	padding: 20vh 4vw 80vh;
	margin: 0 auto;
	scroll-snap-align: start;
	scroll-snap-stop: normal;
	}

/* Let's Talk */

#solicitud {
	border: 4px solid #ebb834;
	padding: 4vmin;
	}

#contact {
	border: 4px solid #ebb834;
	padding: 4vmin;
	}

#three-minutes {
	border: 4px solid #ebb834;
	padding: 4vmin;
	}

#want-more {
	border: 4px solid #ebb834;
	padding: 4vmin;
	}

#this-site {
	border: 4px solid #ebb834;
	padding: 4vmin;
	}

/* An Interview */

#bio {
	border: 4px solid #ebb834;
	padding: 4vmin;
	}

#excerpt {
	border: 4px solid #454545;
	padding: 4vmin;
	scroll-snap-align: start;
	scroll-snap-stop: normal;
	}

/* Merch, More, other content */

#body {
	padding: 20vh 0 70vh 0;
	margin: 0 auto;
	scroll-snap-align: start;
	scroll-snap-stop: normal;
	}

.body {
	padding: 20vh 0 70vh 0;
	margin: 0 auto;
	scroll-snap-align: start;
	scroll-snap-stop: normal;
	}

/* Cross Traffic */

#wayback {
	margin: 0 1vmin;
	padding: 1vmin;
	}

#wayback-container {
	padding: 30vh 0 0 0;
	}	

/* Trato de Novios */

#advisory {
	border: 4px solid #ebb834;
	margin: 0 1vmin;
	padding: 1vmin;
	}

a,
a:hover,
a:visited {
	color: #212427;
	text-decoration: none;
	}

a.reverse,
a:hover.reverse,
a:visited.reverse {
	color: #f5f5f5;
	text-decoration: none;
	}

a.menu,
a:hover.menu,
a:visited.menu {
	font-size: small;
	color: #f5f5f5;
	text-decoration: none;
	}

a.more,
a:hover.more,
a:visited.more {
	color: #454545;
	text-decoration: none;
	}

a.more.reverse,
a:hover.more.reverse,
a:visited.more.reverse {
	color: #f5f5f5;
	text-decoration: none;
	}

.scrim {
	margin: 0 3vmin;
	padding: 2vmin;
	background: rgba(0, 0, 0, 0.50);
	border-radius:10px;
	}

footer {
	font-size: x-small;
	text-align: center;
	background-color: #191919;
	scroll-snap-align: start;
	padding: 2vmax 0;
	}

.flex-container-100vh-center {
	display: flex;
	height: 100vh;
	justify-content: center;
	align-items: center;
	scroll-snap-align: start;
	scroll-snap-stop: always;
	overflow: hidden;
	}

.flex-container-100vh {
	display: flex;
	height: 100vh;
	justify-content: left;
	align-items: center;
	scroll-snap-stop: always;
	scroll-snap-align: start;
	}

.menu-center {
	/*height: 10vh;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

/* BACKGROUNDS */
/* Index */
#bg1-square{
	background-color: #191919;
	background-image: url(images/backgrounds/bg1.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg2-square{
	background-color: #191919;
	background-image: url(images/backgrounds/bg2.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat;
}

#bg3-square{
	background-color: #191919;
	background-image: url(images/backgrounds/bg3.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg4-square{
	background-color: #191919;
	background-image: url(images/backgrounds/bg4.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg5-square{
	background-color: #191919;
	background-image: url(images/backgrounds/bg5.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg6-square{
	background-color: #191919;
	background-image: url(images/backgrounds/bg6.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg7-square{
	background-color: #191919;
	background-image: url(images/backgrounds/bg7.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg8-square{
	background-color: #191919;
	background-image: url(images/backgrounds/bg8.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg9-square{
	background-color: #191919;
	background-image: url(images/backgrounds/bg9.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg10-square{
	background-color: #191919;
	background-image: url(images/backgrounds/bg10.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg11-square{
	background-color: #191919;
	background-image: url(images/backgrounds/bg11.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg12-square{
	background-color: #191919;
	background-image: url(images/backgrounds/bg12.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg13-square{
	background-color: #191919;
	background-image: url(images/backgrounds/bg13.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

/* An Interview */

#bg14-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg14.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg15-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg15.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg16-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg16.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg17-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg17.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg18-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg18.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg19-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg19.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg20-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg20.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

/* A to Z */

#bg21-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg21.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg22-square{
	background-color: #f5f5f5;
	background-image: url(./images/backgrounds/fixed/dancer.svg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg23-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg23.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

/* Home */

#bg24-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg24.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg25-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg25.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg26-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg26.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg27-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg27.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

/* Let's Talk */

#bg28-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg28.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg29-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg29.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg30-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg30.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg31-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg31.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg32-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg32.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg33-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg33.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg34-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg34.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg35-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg35.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg36-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg36.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

/* Merch */

#bg37-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg37.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg38-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg38.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

/* More */

#bg39-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg39.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg40-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg40.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

/* Teasers */

#bg51-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg51.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg52-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg52.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg53-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg53.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg54-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg54.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg55-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg55.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg56-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg56.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg57-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg57.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg58-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg58.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg59-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg59.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg60-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg60.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg61-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg61.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg62-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg62.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg63-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg63.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg64-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg64.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg65-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg65.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg66-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg66.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg67-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg67.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg68-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg68.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg69-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg69.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg70-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg70.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg71-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg71.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg72-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg72.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg73-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg73.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg74-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg74.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg75-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg75.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg76-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg76.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg77-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg77.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

/* The Premise */

#bg41-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg41.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg42-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg42.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg43-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg43.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg44-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg44.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg45-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg45.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg46-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg46.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg47-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg47.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg48-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg48.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg49-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg49.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

#bg50-square{
	background-color: #191919;
	background-image: url(./images/backgrounds/bg50.jpg);
	background-position: center center;
	background-size: contain;
	background-attachment: local;
	background-repeat: no-repeat; 
}

/* RESPONSIVE LISTS*/

.hlist {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0 0 0 1vw;
	}

.hlist li {
	list-style-type: none;
	margin: 5px 10px 3px 0;
	padding: 7px 20px;
	font-weight: 900;
	border: 4px solid #439bbd;
	border-radius: 5px;
	}

/* PHONE LANDSCAPE DENY */

@media (max-height: 600px) and (orientation: landscape) {
	html {display: none;}}