@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* RESET*/
* {margin:0;padding:0;}
/* END RESET */
/* MOBILE FIRST */
@media (orientation: portrait) {
html{font-size:100%%;background-color:#f5f5f5;}
body{font-size:1rem;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;color:#212427;
max-width:700px;margin:auto;}
p{line-height:1.7;padding:0.5rem 0;margin:0 3rem;}
p.menu{font-family:"Oswald", san-serif;font-weight:500;font-size:1.8rem;line-height:1.5;text-align:center;text-transform:uppercase;}
p.intro{font-family:"Oswald", san-serif;font-weight:700;font-size:3rem;line-height:1.7;text-align:left;margin:0 2rem;}
p.disclaimer{font-family:"Oswald", san-serif;font-weight:500;font-size:1.8rem;line-height:1.5;text-align:center;text-transform:uppercase;}
img{max-inline-size: 100%;block-size: auto;aspect-ratio: 1.1/1;object-fit: cover;object-position: top center;border:0px solid #454545;}
a, a:hover, a:visited{color:#454545;text-decoration:none;margin:0;padding:0;}
a.menu, a:hover.menu, a:visited.menu{color:#454545;text-decoration:none;margin:0 0 0 2rem;padding:0 2rem 0 0;}
a.more, a:hover.more, a:visited.more{color:#454545;text-decoration:none;margin:0;padding:0;}
#body{padding:0;margin:4rem auto;}
#colofón{padding:0;margin:4rem auto;}
#excerpt{padding:0;margin:4rem auto;}
#solicitation{padding:0;margin:4rem auto;}
#table-of-contents{padding:0;margin:2rem 0 4rem auto;}
.premise-teaser{padding:0;margin:4rem auto;}
.teaser-teaser{padding:0;margin:4rem auto;}
blockquote{display: block;font-size:1.5rem;font-weight: bold;font-style: italic;margin:2rem 1rem;}
blockquote:before{content: open-quote;}
blockquote:after{content: close-quote;}
.border{border:1px solid #454545;}
.flex-container-title{display:flex;height:500px;flex-flow:row wrap;justify-content:left;align-items:center;}
.flex-container-title-menu{display:flex;height:250px;flex-flow:row wrap;justify-content:left;align-items:flex-end;}
.flex-container-menu{display: flex;height: 100px; flex-flow: row wrap; justify-content:left;align-items:flex-start;}
.nowrap{white-space:nowrap;}
footer{text-align:center;margin:2em;}
video{max-width:90%;padding:0 2rem;}
}
/* LAPTOP -- DESKTOP -- MONITOR -- TV */
@media (orientation: landscape) {
html{font-size:100%;background-color:#f5f5f5;}
body{font-size:1rem;font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;color:#212427;
max-width:700px;margin:auto;}
p{line-height:1.6;margin:auto;padding:0.5rem 0;}
p.intro{font-family:"Oswald", san-serif;font-weight:700;font-size:3rem;line-height:1.5;text-align:left;}
p.disclaimer{font-family:"Oswald", san-serif;font-weight:500;font-size:1.8rem;line-height:1.5;text-align:center;text-transform:uppercase;}
img{max-inline-size: 100%;block-size: auto;aspect-ratio: 1.67/1;object-fit: cover;object-position: top center;border:0px solid #454545;}
a, a:hover, a:visited{color:#454545;text-decoration:none;margin:0;padding:0;}
a.menu, a:hover.menu, a:visited.menu{color:#454545;text-decoration:none;margin:0;padding:0 2rem 0 0;}
a.more, a:hover.more, a:visited.more{color:#454545;text-decoration:none;margin:0;padding:0;}
#body{padding:0;margin:4rem auto;}
#colofón{padding:0;margin:4rem auto;}
#excerpt{padding:0;margin:4rem auto;}
#solicitation{padding:0;margin:4rem auto;}
#table-of-contents{padding:0;margin:2rem 0 4rem auto;}
.premise-teaser{padding:0;margin:4rem auto;}
.teaser-teaser{padding:0;margin:4rem auto;}
blockquote{display: block;font-size:1.5rem;font-weight: bold;font-style: italic;margin:2rem 1rem;}
blockquote:before{content: open-quote;}
blockquote:after{content: close-quote;}
.border{border:1px solid #454545;}
.flex-container-title{display:flex;height:500px;flex-flow:row wrap;justify-content:left;align-items:center;}
.flex-container-title-menu{display:flex;height:250px;flex-flow:row wrap;justify-content:left;align-items:flex-end;}
.flex-container-menu{display:flex;height:100px;flex-flow:row wrap;justify-content:left;align-items:flex-start;}
.nowrap{white-space:nowrap;}
footer{text-align:center;margin:2em;}
}
